<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="commandexample_somecommand" xsi:type="object">Vnext\TrainingModule\Console\SayHello</item>
            </argument>
        </arguments>
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="toslug_command" xsi:type="object">Vnext\TrainingModule\Console\ToSlug</item>
            </argument>
        </arguments>
    </type>

    <!-- Api -->
    <preference for="Vnext\TrainingModule\Api\Data\TrainingInterface" type="Vnext\TrainingModule\Model\Training" />
    <preference for="Vnext\TrainingModule\Api\Data\TrainingSearchResultInterface" type="Vnext\TrainingModule\Model\TrainingSearchResult" />
    <preference for="Vnext\TrainingModule\Api\TrainingRepositoryInterface" type="Vnext\TrainingModule\Model\TrainingRepository" />
    <!-- End Api -->

    <!-- Custom get name product -->
    <preference for="Magento\Catalog\Model\Product" type="Vnext\TrainingModule\Model\Catalog\Product" />
    <!-- End -->

    <!-- Custom plugin -->
    <type name="Magento\Catalog\Model\Product">
		<plugin name="Vnext_TrainingModule_Plugin_Magento_Catalog_Model_Product" type="Vnext\TrainingModule\Plugin\Magento\Catalog\Model\Product\Product" disabled="false" sortOrder="1" />
	</type>
    <!-- End Plugin -->

    <!-- Admin Grid  -->
    <!-- <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vnext_trainingmodule_post_listing_data_source" xsi:type="string">Vnext\TrainingModule\Model\ResourceModel\Training\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Vnext\TrainingModule\Model\ResourceModel\Training\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">students</argument>
            <argument name="resourceModel" xsi:type="string">Vnext\TrainingModule\Model\ResourceModel\Training</argument>
        </arguments>
    </virtualType> -->
    <!-- End Admin Grid -->

   
</config>