<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="training" translate="label" sortOrder="999">
            <label>Training</label>
        </tab>
        <section id="section_training" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Training</label>
            <tab>training</tab>
            <resource>Vnext_TrainingModule::acl_rule</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <!-- <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Active</label>
                    <source_model>Vnext\TrainingModule\Model\Config\Source\Active</source_model>
                </field> -->
                <field id="enable_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Active</label>
                    <source_model>Vnext\TrainingModule\Model\Config\Source\Active</source_model>
                </field>
                <field id="enable2" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sort By</label>
                    <source_model>Vnext\TrainingModule\Model\Config\Source\Training</source_model>
                </field>
                <field id="enable3" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sort Order</label>
                    <source_model>Vnext\TrainingModule\Model\Config\Source\Sort</source_model>
                </field>
                <field id="enable4" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Paging</label>
                </field>
                <!-- <field id="display_text" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Display Text</label>
                    <source_model>Vnext\TrainingModule\Model\Config\Source\Training</source_model>
                </field> -->
            </group>
        </section>
    </system>
</config> 
